<!--Including same header and footer in all views-->
<%- include("partials/header.ejs") %> 

<h1>Home</h1>

<!-- Using ejs to display content from app.js -->
<p><%= startingContent %> </p>,

<% posts.forEach(function(post) { %>

<h1><%=post.title%></h1>

<% let result = post.content.substring(0, 100) + " ..."; %>
<p><%=result%> 
    <a href="/posts/<%=post.title%>">Read more</a>
</p>

<% }) %> 



<%- include("partials/footer.ejs") %> 

<!--For loop that loops through the array and console logs every title-->